body{
    background-color: #36393f;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    flex-direction:row;
}
.menu{
    margin-top: 25px;
    display: none;
    flex-wrap:wrap;
    width:1000px;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    margin-left: 200px;
    color: #36393f;
    background-color: #9bbcff;
}
.bests{
    display: flex;
    flex-wrap:wrap;
    font-size: 20px;
    width: 500px;
    height: 250px;
}
.left_side{
    width: 100px;
    margin: 0;
    background-color: #2f3136;

}
.btnSide{
    width: 100px;
    background-color: #2f3136;
    color: #fff;
    height: 100px;
    cursor: pointer;
    outline: none;
}
.main{
    display: flex;
}
.center{
    height: 500px;
    width: 500px;
    background-color: #36393f;
}
.left_Players {
    display: flex;
    height: 198px;
    width: 248px;
    color: #fff;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.players{
    display: flex;
    width: 500px;
    height: 200px;
}
.player{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 66px;
    padding-left: 5px;
    width: 100px;
    
}
.main_score{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.score{
    background-color: #7289da;
    color: #fff;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 250px;
    margin: 0;
}
.score_text{
    font-size: large
}